# **Benjamin Freund** #
# **Assignment 4** #

## **Question 1** ##

The challenge here was to write NumPy code that would find the common values in the given two arrays. The first step was to import NumPy into Python and then to assign the given arrays to a and b.

In [113]:
# Importing NumPy
import numpy as np

# Arrays given by Professor
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

Next, an empty array called c was created. Then, I created a for loop that looped through each value in a and compared it to each value in b. If this loop found that there was a value in a that was also in b, it appended that value to c.

However, c stores everything as floating points and not integers. Therefore, I changed the type of c to an integer and stored it in an array called d. I then printed all of the unique values in d. This displays an array of all the common values in the given two arrays.

In [114]:
# Create an empty array c
c = np.array([])

# Loop through each value in array a
for x in a:
    # See if the value from array a is in array b
    if(x in b):
        # If it is, append that value to array c
        c = np.append(c, x)
        
# Coerce array c from floating points to integers with the astype function
d = c.astype(int)

# Print the unique values in array d
print(np.unique(d))

[2 4]

## **Question 2** ##

The question asked me to recreate an array using NumPy's sequencing functionality. This array had the numbers 1-15 in a 5x3 array, where the numbers were going down the columns (i.e. the first column had 1-5, the second had 6-10, and the third had 11-15).

To do this, I used NumPy's "arange" function to create an array with the appropriate range. I started at 1 but ended at 16, because Python does not include the latter bound. Then I used NumPy's "reshape" function to shape this array into a 3x5 array. However, this array was not shaped correctly. Therefore, I used NumPy's "T" function to transpose the array. This acheived the approrpiate 5x3 array.

In [115]:
# Create the array
np.arange(1, 16).reshape(3,5).T

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

## **Question 3** ##

This question asked me to remove the items from the given array called a that are also in the given array called b. The first step was to create arrays a and b.

In [116]:
# Arrays given by Professor
a = np.array([12, 5, 7, 15, 3, 1, 8])
b = np.array([14, 6, 3, 11, 19, 12, 5])

Next, an empty array called c was created. Then, I created a for loop that looped through each value in a and compared it to each value in b. If this loop found that there was a value in a that was not in b, it appended that value to c.

However, c stores everything as floating points and not integers. Therefore, I changed the type of c to an integer, stored it in an array called d, and printed d. This displays an array of all the values that are in a but not in b.

In [118]:
# Create an empty array c
c = np.array([])

# Loop through each value in array a
for x in a:
    # See if the value from array a is in array b
    if(x not in b):
        # If it is not, append that value to array c
        c = np.append(c, x)
        
# Coerce array c from floating points to integers with the astype function
d = c.astype(int)

# Print array d
print(d)

[ 7 15  1  8]

## **Question 4** ##

The challenge here was to track how many miles I rode via bicycle from New York City, New York to Key West, Florida. The distance between these two cities according to Google Maps is 1,519 miles. I created an array called total_miles with random values tracking the cumulative miles rode, with the 1,519 miles at the end showing that I've ridden 1,519 miles total.

Another condition was that there were four non-consecutive days where I couldn't travel. Therefore, four days in the array do not have a gain in cumulative mileage, as there was no additional travel. Furthermore, I am to assume that the trip took 35 days. Therefore, the array contains 35 values indexed 0 - 34.

In [119]:
# Random numbers in total_miles array
total_miles = np.array([55, 120, 120, 180, 220, 290, 340, 340, 370, 410, 480, 540, 
                        590, 630, 675, 730, 795, 820, 820, 885, 910, 910, 960, 1000, 
                        1050, 1075, 1110, 1175, 1224, 1280, 1330, 1350, 1410, 1450, 1519])

The next challenge was to show the total miles I rode each day. To do this, I created an empty array called miles_per_day_floating. Then, I created a for loop that looped through each value and its corresponding index number in total_miles. When the loop hit index 0 (the first value) of total_miles, it just appended that value to miles_per_day_floating. When the loop hit each of the following indices, it took the corresponding value of that index and subtracted it from the corresponding value of the following index. Furthermore, when the loop hit index 34 (the last value) of total_miles, it just appended that value to miles_per_day_floating. Thus, we end up with an array of the total miles I rode each day.

However, miles_per_day_floating stores everything as floating points and not integers. Therefore, I changed the type of miles_per_day_floating to an integer, stored it in a new array called miles_per_day, and printed miles_per_day. This displays an array of the total miles I rode each day.

In [75]:
# Create an empty array miles_per_day_floating
miles_per_day_floating = np.array([])

# Loop through each value and its index number in array total_miles
for index, x in enumerate(total_miles):
    
    # See if the index number is 0 (i.e. if it's the first item in the array)
    if(index == 0):
        # If it is, append that value to the miles_per_day_floating array
        miles_per_day_floating = np.append(miles_per_day_floating, x)
    
    # See if the index number is 34 (i.e. if it's the last item in the array)
    if(index != 34):
        # If it isn't, subtract the value in this index number from the value in the following index number
        # and store it in y
        y = total_miles[index+1] - total_miles[index]
        # Append y to the miles_per_day_floating array
        miles_per_day_floating = np.append(miles_per_day_floating, y)
        
# Coerce array miles_per_day_floating from floating points to integers with the astype function
miles_per_day = miles_per_day_floating.astype(int)

# Print array miles_per_day
print(miles_per_day)

[55 65  0 60 40 70 50  0 30 40 70 60 50 40 45 55 65 25  0 65 25  0 50 40
 50 25 35 65 49 56 50 20 60 40 69]

## **Question 5** ##

The final challenge of this assignment involved a small data set. from a GitHub repository. My professor gave me the code to retrieve this data, and his code along with his comments are below. This data details water consumption in New York City.

In [79]:
# Code given from Professor
import pandas
import numpy as np

# supress scientific notation
np.set_printoptions(suppress = True)

# read the data file from GitHub and convert to a NumPy ndarray object
nyc_water = pandas.read_csv('https://raw.githubusercontent.com/jtopor/DAV-5400/master/Week4/Water_Consumption_In_The_New_York_City.csv').values

# verify you have an ndarray object
type(nyc_water)

numpy.ndarray

There were four separate questions asked here.

The first was to calculate the maximum yearly New York City consumption of water in millions of gallons per day. To do this, I used NumPy's "max" function, set the axis to 0 to refer to the columns, and used the index of 2 to retrieve the third column which contained the information requested. Thus, I calculated the max of the third column, and I got 1,512 millions of gallons per day. I then printed this in sentence form.

The second was to calculate the number of calendar years in this data set. To do this, I used NumPy's "shape" function and used the index 0 to retrieve the first value in the shape array. I calculated 39 calendar years in this data set. I then printed this in sentence form.

The third was to calculate the mean and standard deviation of the per capita daily water consumption. To calculate the mean, I used NumPy's "mean" function, set the axis to 0 to refer to the columns, and used the index of 3 to retrieve the fourth column which contained the information requested. I then used the round function to round this number to two decimal places. Thus, I calculated the mean of the fourth column, and I got 160.31 gallons per person per day. To calculate the standard deviation, I used NumPy's "std" function, set the axis to 0 to refer to the columns, and used the index of 3 to retrieve the fourth column which contained the information requested. I then used the round function to round this number to two decimal places. Thus, I calculated the standard deviation of the fourth column, and I got 31.52 gallons per person per day. I then printed both the mean and the standard deviation in sentence form.

The fourth was to create an array containing the increase or decrease in population from year to year. To do this, I used NumPy's "diff" function, set the axis to 0 to refer to the columns, and used the index [:,1] to refer to the appropriate column. I stored this in an array called pop_diff_floating. However, pop_diff_floating stores everything as floating points and not integers. Therefore, I changed the type of pop_diff_floating to an integer and stored it in a new array called pop_diff. I then printed a sentence preceding the array along with the array (in separate print statements).

In [122]:
# Maximum yearly NYC consumption of water in millions of gallons per day
print("The maximum yearly NYC consumption of water is", nyc_water.max(axis=0)[2], "millions of gallons per day.")
print(" ")

# Number of calendar years in data set
print("There are", nyc_water.shape[0], "calendar years in this data set.")
print(" ")

# Mean and standard deviation of per capita daily water consumption
print("The mean per capita daily water consumption is", round(nyc_water.mean(axis = 0)[3], 2), 
      "gallons per person per day. The standard deviation is", round(nyc_water.std(axis = 0)[3], 2), 
      "gallons per person per day.")
print(" ")

# Change in population from year to year
pop_diff_floating = np.diff(nyc_water, axis = 0)[:, 1]
pop_diff = pop_diff_floating.astype(int)
print("This array shows the change in population from year to year:")
print(pop_diff)

The maximum yearly NYC consumption of water is 1512.0 millions of gallons per day.

There are 39 calendar years in this data set.

The mean per capita daily water consumption is 160.31 gallons per person per day. The standard deviation is 31.52 gallons per person per day.

This array shows the change in population from year to year:
[-30461  17602  19864  72119  53290  39540  45192  23230  11243  -9544
  -8525  38851  54443  77222  64292  62582  64772  75631  84816  89401
  60618  16685  16685  16685  16685  16685  16685  16685  16685  16685
  16685 108965  77081  61281  49530  44512  21171  85025]